In [1]:
print("test")

test

In [2]:
import pandas as pd
from evidently.dashboard import Dashboard
from evidently.model_profile import Profile
from evidently.tabs import DataDriftTab, CatTargetDriftTab
from evidently.profile_sections import DataDriftProfileSection

In [16]:
data_url = "https://gist.githubusercontent.com/nnbphuong/def91b5553736764e8e08f6255390f37/raw/373a856a3c9c1119e34b344de9230ae2ea89569d/BostonHousing.csv"
df = pd.read_csv(data_url)
df.head(10)

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO  LSTAT  MEDV  CAT. MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3   4.98  24.0          0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8   9.14  21.6          0
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8   4.03  34.7          1
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7   2.94  33.4          1
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7   5.33  36.2          1
5  0.02985   0.0   2.18     0  0.458  ...  222     18.7   5.21  28.7          0
6  0.08829  12.5   7.87     0  0.524  ...  311     15.2  12.43  22.9          0
7  0.14455  12.5   7.87     0  0.524  ...  311     15.2  19.15  27.1          0
8  0.21124  12.5   7.87     0  0.524  ...  311     15.2  29.93  16.5          0
9  0.17004  12.5   7.87     0  0.524  ...  311     15.2  17.10  18.9          0

[10 rows x 14 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    int64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    int64
 9   TAX        506 non-null    int64
 10  PTRATIO    506 non-null    float64
 11  LSTAT      506 non-null    float64
 12  MEDV       506 non-null    float64
 13  CAT. MEDV  506 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 55.5 KB

Data Drift Dashboard

In [5]:
df.shape

(506, 14)

In [10]:
train_set = df[:253]
test_set = df[254:]

In [11]:
boston_Dashboard = Dashboard(tabs= [DataDriftTab()])

In [12]:
boston_Dashboard.calculate(train_set,test_set)

In [13]:
boston_Dashboard.save("Boston_drift_report_1.html")